@model FantasyFootballApp.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <h2>Top ESPN Players</h2>
    <div class="col-md-6">
        @Html.Partial("_RankingTable", Model.TopPlayers)
    </div>
    <div class="col-md-6">
        <h2>Fantasy Football Ranking App</h2>
        <p>Developing an app to allow an easier way to aggregate rankings, create my own rankings and track player choices on draft day</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Player")">Edit Players &raquo;</a></p>
    </div>
</div>