body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.edit-table {
    padding-top: 10px;
}

/* Cell Colors by Position */

.cell-rb {
    background-color: #C9DAF8;
}

.cell-wr {
    background-color: #d9ead3;
}

.cell-te {
    background-color: #fff2cc;
}

.cell-qb {
    background-color: #f4cccc;
}

.cell-dst {
    background-color: #f6b26b;
}

.cell-k {
    background-color: #8e7cc3;
}

/* Loading Images and Styles */

.loading-table {
    opacity: 0.5;
    z-index: 0;
}

.loading-gif {
    background-image: url(ajax-loader.gif);
    background-repeat: no-repeat;
    margin: auto;
    z-index: 1;
}

.sortable {
    border: 1px solid #eee;
    width: 100%;
    min-height: 200px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
 }

.sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    max-width: 95%;
 }

.inactiveRank {
    opacity: .5;
}